.main-heading {
  background-image: url("banner3.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  background-size: 700px 200px;
  margin: 0px;
}

* {
  color: White;
  font-family: "Josefin Sans", sans-serif;
  }

.subheading {
  color: White;
  text-align: center;
}

body {
    background-image: linear-gradient(Black , #426eb7);
}

/* #00183f #80adf7 */

.recipe-detail {
  display: inline-flex;
}

.recipe-parent {
  border: 3px solid white;
  /* top: 50px;
  width: 800px;
  height: 100px; */
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  color: White;
  border-radius: 10px;
}

.recipe-title {
  text-align: center;
  font-family: Zapfino;
}

#mainheading h1{
  border: 3px solid white;
  position: relative;
  text-align: center;
  top: 50px;
  width: 800px;
  height: 100px;
  margin: 0 auto;
  color: White;
  font-weight: bold;
}

.recipe-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    margin-left: 20px;
    /* -webkit-filter: grayscale(100%); */
    /* filter: sepia(0.2); */
}

.recipe-list {
  padding-top: 30px;

}

#select-label{
  border: 3px solid white;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.select-wrapper {
  text-align: center;
  position: relative;
  align-items: center;
}
